body {
    background-color: #111;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.pilotos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 168, 8);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}